.MyFav{
    display: flex;
    justify-content: center;
    height: 40%;
    width: 100%;
    color: black;
    margin-top: 10px;
    margin-bottom: 20px;
    align-items: center;
    list-style: none;    
    min-height: 400px;  
}

.htab{
    padding: 0;
    margin: 0;
    height: 100px;
    width: 100%;
    color: black;
}

.htab h1{
    padding-top: 60px;
    height: 100%;
    width: 100%;
}



 

